<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<table class="table table-hover">
    <thead>
    <tr>
        <td><h2>书名</h2></td>
        <td><h2>id</h2></td>
        <td><h2>作者</h2></td>
        <td><h2>阅读数</h2></td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="book:${bookList}">
        <td>[[${book.bookName}]]</td>
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.readCount}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>